# Insper - Computação para Ciência dos Dados

## Explorando dados na Internet

O objetivo desta atividade é navegar nos sites e documentação sobre Python e LIBs, e também obter dados e reutilizar código pronto online. Atividade individual.

1. Escolher no site do **Matplotlib** um gráfico interessante nos exemplos, não fique nos básicos. Copiar o código online e executar neste notebook.
2. No site do **Kaggle** escolher um conjunto de dados interessante e baixar para seu ambiente local (pasta de trabalho)
3. Importar os dados do Kaggle para o pandas (dataframe)
4. Visualizar os dados com o gráfico que foi obtido no site de exemplos do Matplotlib
5. Customizar o gráfico, cores, labels, etc...
6. Use **markdown** para explicar o que está fazendo, passo a passo ao longo do notebook

Referências:
    
- Kaggle - https://www.kaggle.com/
- Matplotlib - https://matplotlib.org/
- Pandas - https://pandas.pydata.org/

Um exemplo do Matplotlib:

https://matplotlib.org/stable/gallery/lines_bars_and_markers/fill_between_demo.html#sphx-glr-gallery-lines-bars-and-markers-fill-between-demo-py

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('2012-2022_FIA_WEC_FULL_LAP_DATA.csv', engine= "pyarrow")

In [22]:
df[df["circuit"] == "LE MANS"]

,,number,driver_number,lap_number,lap_time,lap_improvement,crossing_finish_line_in_pit,s1,s1_improvement,s2,...,team_stint,elapsed_ms,position,class_position,interval_ms,interval,gap,class_interval,class_gap,elapsed_s
13232,13232,0,1,1,0 days 00:04:21.958000,0,,57.805,0,92.907,...,Highcroft Racing #0 Stint #1,261958,31.0,1.0,1382.0,1.382,43.050,0.000,0.000,261.958
13233,13233,75,2,1,0 days 00:04:30.717000,0,,62.952,0,94.521,...,Prospeed Competition #75 Stint #1,270717,39.0,1.0,378.0,0.378,51.809,0.000,0.000,270.717
13234,13234,79,1,1,0 days 00:04:31.137000,0,,62.665,0,95.531,...,Flying Lizard Motorsports #79 Stint #1,271137,40.0,2.0,420.0,0.420,52.229,0.420,0.420,271.137
13235,13235,99,0,1,0 days 00:04:31.544000,0,,63.470,0,94.947,...,Aston Martin Racing #99 Stint #1,271544,41.0,3.0,407.0,0.407,52.636,0.407,0.827,271.544
13236,13236,58,2,1,0 days 00:04:33.520000,0,,65.124,0,95.233,...,Luxury Racing #58 Stint #1,273520,45.0,4.0,823.0,0.823,54.612,0.823,1.650,273.520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503675,503675,7,3,378,0 days 00:03:32.801000,0,,33.645,0,80.892,...,Toyota Gazoo Racing #7 Stint #33,86220663,2.0,2.0,121119.0,121.119,212.801,121.119,121.119,86220.663
503676,503676,8,2,379,0 days 00:03:32.310000,0,,33.323,0,80.052,...,Toyota Gazoo Racing #8 Stint #32,86311854,1.0,1.0,91191.0,91.191,91.191,0.000,0.000,86311.854
503677,503677,7,3,379,0 days 00:03:33.348000,0,,34.550,0,81.034,...,Toyota Gazoo Racing #7 Stint #33,86434011,2.0,2.0,122157.0,122.157,213.348,122.157,122.157,86434.011
503678,503678,8,2,380,0 days 00:03:36.142000,0,,33.452,0,80.406,...,Toyota Gazoo Racing #8 Stint #32,86527996,1.0,1.0,93985.0,93.985,93.985,0.000,0.000,86527.996
503679,503679,7,3,380,0 days 00:03:35.207000,0,,33.411,0,80.843,...,Toyota Gazoo Racing #7 Stint #33,86649218,2.0,2.0,121222.0,121.222,215.207,121.222,121.222,86649.218

In [25]:
df["class"].unique()

array(['LMGTE Am', 'LMGTE Pro', 'LMP1', 'LMP2', 'CDNT', 'LMP1-H',
       'LMP1-L', 'HYPERCAR', 'INNOVATIVE CAR'], dtype=object)